.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.btnBlock {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

