.headerBlock {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #282e33;
    transition: top 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 40px;
    z-index: 1;
}

.headerBlock a {
    box-sizing: border-box;
    text-decoration: none;
    font: 20px bold Tahoma, Arial, sans-serif;
    color: #555;
    transition-duration: 0.2s;
}

.headerBlock a:hover {
    color: #24d3c3;
}
