.block {
    top: 0;
    width: 15%;
    border: 5px solid #24d3c3;
    border-top: none;
    border-left: none;
    margin-top: 70px;
    margin-right: auto;
    position: absolute;
    border-radius: 0 0 7px 0;
}
